*{
    margin: 0;
    padding: 0;
}

:root{
    --color-principal:rgb(0, 0, 0);
    --gap: 3rem;
}

html{
    font-size: 62.5%;
   
}

#white{
    height: 100vh;
    background-image: linear-gradient(to right top, #b3b4b9, #a7b5c9, #8eb8d7, #65bde0, #02c3e0);
    max-width: 120rem;
    margin: 0 auto; /* Margins automaticas para esquerda e direita o navegador vai calcular automaticamente */
    padding-left: var(--gap);
    padding-right: var(--gap);
    margin: 0 auto;
    min-height: 100vh;
    
}
