@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.org-sup {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: 20%;
    flex-direction: row;
    gap: var(--gap);
    font-size: 2.4rem;
    float: left;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.pesquisas {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
}

.pesquisas1 {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
}

input {
    width: 30rem;
    height: 4rem;
    font-size: 2rem;
}

.valor {
    width: 20rem;
}

button {
    margin-top: 2.4rem;
    width: 5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.darkmode .valor-total {
    color: rgb(5, 0, 0);
    border-radius: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-color: rgba(36, 43, 37, 0.863);
}

.valor-total {
    color: rgb(5, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 10rem;

    z-index: 1;
    border-radius: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-color: rgba(1, 255, 35, 0.863);
}

.total-valor {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.registrodecontas {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.247);
    margin-top: 10rem;
    height: auto;
    width: 50%;
    margin-left: 20%;

    border-radius: 2rem;
    box-shadow: 1rem 1rem 25rem 0.5rem rgba(255, 255, 255, 0.774);

    
    color: rgb(255, 255, 255);
    
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    padding-left: var(--gap);
    padding-top: var(--gap);
    text-transform: uppercase;
    overflow: auto;
}

.fa-solid {
    background-color: rgba(0, 255, 34, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    width: 2rem;
border-radius: 100%;
    height: 2rem;
    align-items: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    box-shadow: 1rem 1rem 25rem 0.5rem rgba(255, 255, 255, 255);
}

.darkmode .fa-solid {
    background-color: rgba(55, 0, 255, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    width: 2rem;
border-radius: 100%;
    height: 2rem;
    align-items: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    box-shadow: 1rem 1rem 25rem 0.5rem rgba(255, 255, 255, 255);
}

.darkmode#white {
    background-image: url(../img/darkbackground.svg);
     background-size: cover; 
    background-position: center ; 
    background-repeat: no-repeat;
}

.darkmode .registrodecontas {
    margin-top: 10rem;
    background-image: linear-gradient(to right top, #0e000011, #00000033, #00050541, #140000be, #0800001a);
    color: rgb(3, 199, 248);
    box-shadow: 1rem 1rem 25rem 0.5rem rgba(98, 0, 255, 0.774);
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    animation: example 1s ease-in-out;
}

.apagar {
   background-color: red;
   color: white;
   border-radius: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700; 
}
.apagar:hover {
    color: rgb(0, 0, 0);
}

@keyframes example {
    from {
        color: rgb(255, 255, 255);
    }
    to {
        color: rgb(0, 119, 255);
    }
}

.darkmode h1 {
    color: white;
}
.darkmode .valor-total h1 {
    color: rgb(255, 255, 255);
}

.darkmode .valor-total {
    color: white;
}

.darkmode .pesquisas {
    color: white;
}

.darkmode .pesquisas1 {
    color: white;
}

input::placeholder {
    color: #2a078b; /* Cor do placeholder desejada */
}

.darkmode input::placeholder {
    color: rgb(255, 255, 255);
}

input {
    border-radius: 1rem;
    border-color: #0004ff3b;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.137);
}

.darkmode input {
 color: white;
}


    @media screen and (max-width: 378px) {

      }
