.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    }
    .org-sup{
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        font-size: 2.4rem;
        margin-top: 2rem;
        float: left;
        margin-top: 10rem;
    }
    .pesquisas{
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
    }
    
    .pesquisas1{
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
    }
    
    input{
        width: 30rem;
        height: 4rem;
        font-size: 2rem;
    }
    
    .valor{
        width: 20rem;
    
    }
    
    button{
        margin-top:2.4rem;
        width:5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    
    .valor-total{
        background-color: white;
        color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15rem;
        height: 10rem;
       position: relative;
        z-index: 1;
        left: 40rem;
    }
    
    .total-valor{
        font-size: 2rem;
    }
    
    .registrodecontas{
        margin-top: 10rem;
        background-color: white;
        min-height:  60rem;
        max-height: auto;
        width: 100rem;
        border-radius: 3rem;
        padding-left: var(--gap);
        padding-top: var(--gap);
        text-transform: lowercase;
        font-size: 3rem;
        color: black;
        
    }